/*App*/
html, body {
  font-family: 'Roboto', sans-serif;
  color: #692C4F;
  font-weight: 300;
  background: #FCFCF5;
}

/*Logo*/
#logo {
  margin-top: 35px;
  text-align: center;
}

#logo-name {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}
/*Navigation*/
#nav-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

nav {
  margin: 0 auto;
}

nav ul {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  width: 25%;
  text-decoration: none;
  cursor: pointer;
  line-height: 1em;
  font-size: 0.8em;
}


#nav-one:hover ~ hr {
  margin-left: 0;
}
#nav-two:hover ~ hr {
  margin-left: 25%;
}
#nav-three:hover ~ hr {
  margin-left: 50%;
}
#nav-four:hover ~ hr {
  margin-left: 75%;
}
#nav-hr.one {
  margin-left: 0;
}
#nav-hr.two {
  margin-left: 25%;
}
#nav-hr.three {
  margin-left: 50%;
}
#nav-hr.four {
  margin-left: 75%;
}

#nav-hr {
  height: .15rem;
  width: 25%;
  margin: 0;
  background: #692C4F;
  border: none;
  transition: .3s ease-in-out;
}

#nav-line-left {
  display: none;
}

#nav-line-right {
  display: none;
}

@media only screen and (min-width: 760px) {
  nav {
    width: 400px;
    margin: 0 auto;
  }

  nav ul li a {
    line-height: 1.7em;
    font-size: 1.1em;
  }

  #nav-wrapper {
    position: relative;
    margin: 0 auto;
  }
  #nav-line-left {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 30%;
    background: #692C4F;
    height: 1px;
    margin: 0;
    border: none;
    opacity: 0.8;
  }
  #nav-line-right {
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
    width: 30%;
    background: #692C4F;
    height: 1px;
    margin: 0;
    border: none;
    opacity: 0.8;
  }
}

/*Contact form*/
#contact-container {
  max-width: 650px;
  margin: 0 auto;
}

#contact-title {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

#contact-body {
  font-size: 14px;
}

#contact-body-right {
  display: block;
}

#contact-body-left {
  display: block;
}

@media only screen and (min-width: 760px) {
  #contact-title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  #contact-body-right {
    display: inline-block
  }

  #contact-body-left {
    display: inline-block;
    max-width: 50%;
  }

}

/*Tile*/
.tile {
  display: inline-block;
  margin: 10px;
  text-align: left;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.tile:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.tile img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tile .details {
  font-size: 16px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.tile .details .title {
  line-height: 1;
  font-size: 1.1em;
  font-weight: 400;
  opacity: 0.9;
}
.tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 0.8em;
  opacity: 0.6;
}
.tile:focus:before,
.tile:focus span, .tile:hover:before,
.tile:hover span {
  opacity: 1;
}
.tile:focus:before, .tile:hover:before {
  top: 50%;
}
.tile:focus span, .tile:hover span {
  top: 0;
}
.tile:focus .title, .tile:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.tile:focus .info, .tile:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

/*Modal*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-content {
  background: #FCFCF5;
  opacity: 1;
  padding: 25px;
  position: absolute;
  top: 30px;
  bottom: 30px;
  right: 100px;
  left: 100px;
}

.modal-body {
  overflow-y: auto;
  height: calc(100% - 50px);
  text-align: center;
}

.modal-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  text-align: center;
}
.modal-title {
  font-size: 1.8em;
  font-weight: 500;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
}

/*Footer*/
#footer-icons {
  display: none;
}

#footer-text {
  display: inline-block;
  margin-top: 5px;
  float: right;
  font-size: 12px;
}
@media only screen and (min-width: 760px) {
  #footer {
    margin: 0 auto;
    padding: 5px;
    border-top: 1px dashed;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  #footer-icons {
    display: inline-block;
  }

  #footer-text {
    margin-top: 12px;
    font-size: 14px;
  }
}