/*App*/
html, body {
  font-family: 'Roboto', sans-serif;
  color: #692C4F;
  background: #FCFCF5;
}

/*Logo*/
#logo {
  margin-top: 35px;
  text-align: center;
}

#logo-name {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}
/*Navigation*/
#nav-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

nav {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
}

nav ul {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  width: 25%;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.7em;
  font-size: 1.1em;
}


#nav-one:hover ~ hr {
  margin-left: 0;
}
#nav-two:hover ~ hr {
  margin-left: 25%;
}
#nav-three:hover ~ hr {
  margin-left: 50%;
}
#nav-four:hover ~ hr {
  margin-left: 75%;
}
#nav-hr.one {
  margin-left: 0;
}
#nav-hr.two {
  margin-left: 25%;
}
#nav-hr.three {
  margin-left: 50%;
}
#nav-hr.four {
  margin-left: 75%;
}

#nav-hr {
  height: .15rem;
  width: 25%;
  margin: 0;
  background: #692C4F;
  border: none;
  transition: .3s ease-in-out;
}

#nav-line-left {
  display: none;
}

#nav-line-right {
  display: none;
}

@media only screen and (min-width: 760px) {
  #nav-wrapper {
    position: relative;
    margin: 0 auto;
  }
  #nav-line-left {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 30%;
    background: #692C4F;
    height: 1px;
    margin: 0;
    border: none;
  }
  #nav-line-right {
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
    width: 30%;
    background: #692C4F;
    height: 1px;
    margin: 0;
    border: none;
  }
}

/*Contact form*/
#contact-container {
  max-width: 650px;
  margin: 0 auto;
}

#contact-title {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

#contact-body {
  font-size: 14px;
}

#contact-body-right {
  display: block;
}

#contact-body-left {
  display: block;
}

@media only screen and (min-width: 760px) {
  #contact-title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  #contact-body-right {
    display: inline-block
  }

  #contact-body-left {
    display: inline-block;
    max-width: 50%;
  }

}

.porfolio-tile {
  width: 100%;
}

/*Footer*/
#footer-icons {
  display: none;
}

#footer-text {
  display: inline-block;
  margin-top: 5px;
  float: right;
  font-size: 12px;
}
@media only screen and (min-width: 760px) {
  #footer {
    margin: 0 auto;
    padding: 5px;
    border-top: 1px dashed;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  #footer-icons {
    display: inline-block;
  }

  #footer-text {
    margin-top: 12px;
    font-size: 14px;
  }
}